.img-normal {
  max-width: 100vw;
  max-height: 100vh;
}
.img-span {
  // max-width: 100vh;
  // max-height: 100vw;
  // transform: rotate(90deg);
  max-width: 100vw;
  max-height: 100vh;
  transform: rotate(90deg);
}

@mixin object-img() {
  object-fit: contain;
  object-position: center;
  background-color: #000;
}

.imgbox {
  width: inherit;
  height: inherit;
  img {
    width: inherit;
    height: inherit;
    @include object-img();
  }
}

.imageview {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  color: #fff;
  img {
    // @include object-img();
  }
}
