.page-random {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;

  .video-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    height: 90vh;

    video {
      height: 100%;
      // width: 100%;
      object-fit: contain;
    }
  }

  .video-btns {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    >*:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.video-page {
  height: 100%;
}