.mediabox {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(119, 119, 119, 0.8);
  // background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 99;
  // pointer-events: none;

  video {
    max-width: 100%;
    max-height: 100%;
  }
  audio {
    box-sizing: border-box;
    margin: 0 1em;
    width: 100%;
  }

  .right-icons {
    position: absolute;
    top: 10vh;
    padding: 0 1em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    font-size: 2em;

    i.anticon:not(:first-of-type) {
      margin-left: 0.75em;
    }
  }

  .icon-box {
    position: absolute;
    top: 10vh;
    padding: 0 1em;
    width: 100%;
    z-index: 100;
    font-size: 2em;
    
    opacity: 1;
    transition: opacity 200ms;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(:last-of-type) {
        margin-bottom: 0.5em;
      }
    }

    .right {
      display: flex;

      i.anticon:not(:first-of-type) {
        margin-left: 0.75em;
      }
    }

    .left {
      display: flex;
      align-items: center;

      i:not(:last-of-type) {
        margin-right: 0.2em;
      }
      i.text {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        height: 1em;
        border: 2px solid #fff;
        border-radius: 0.25em;

        span {
          font-size: 0.5em;
        }
      }
    }
  }

  .fade {
    opacity: 0;
  }
  .hidden {
    display: none;
  }

  .toast {
    position: absolute;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
  }
}